<div class="wrapper">

  <div class="page-header center-text">
    <h1>All Restaurants</h1>
  </div>

  <div class="table-striped">
    <table>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Category</th>
        <th>Phone Number</th>
        <th>Reviews</th>
      </tr>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <td><h5><%= restaurant.id %></h5></td>
          <td><h5><%= link_to restaurant.name, restaurant_path(restaurant) %></h5></td>
          <td><h5><%= restaurant.address %></h5></td>
          <td><h5><%= restaurant.category %></h5></td>
          <td><h5><%= restaurant.phone_number %></h5></td>
          <td><h6><%= link_to "add new", new_restaurant_review_path(restaurant) %></h6></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="btn">
    <h6><%= link_to "Add new Restaurant", new_restaurant_path %></h6>
  </div>

</div>